.center {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

button, select {
  padding: 10px;
  font-size: 16px;
}

.stash-contents {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.stash-contents table th {
  text-align: center;
}